:root {
    --background: rgba(14, 154, 167, 1);
    --yellow-text: rgba(246, 205, 97, 1);
}

body {
    margin: 0;
    font-family: poppins;
    font-weight: 300;
}

.container {
    width: 100%;    
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    margin-left: 0;
    margin-right: 0;
    z-index: 999;
}

header{
    background-color: var(--background);
    
}

.logo {
    background-color: var(--background);
    text-align: center;
    font-size: 50px;
    margin: 0;
    
    
}

.logo a{
    color: var(--yellow-text) !important;
    
}

.banner{
    position: relative;
    width: 100%;
    height: auto;
    
    
}
nav{
    position: fixed;
    
}
nav ul {
    margin: 0;
    padding: 0;
    list-style: none;
    text-align: center;
    left: 0;
    right: 0;
    height:auto;
    width: auto !important;
    position: fixed;
    background-color: var(--background);
    z-index: 999;
    
}

nav li {
    display: inline-block;
    margin-left: 5vw;
    padding-bottom: .8vw;
    padding-top: 1vw;
    position: relative;
}

nav a {
    color:#444;
    text-decoration: none;
    text-transform: uppercase;
}

nav a:hover {
    color: #000;
}

nav a:before {
    content: '';
    display: block;
    height: 5px;
    width: 100%;
    background-color: #555;
    position: absolute;
    top: 0;
    width: 0%;
    transition: 250ms;
}

nav a:hover::before {
    width: 100%;
    
}

.bio {
    top: 20%;
    margin-top: 10%;
    margin-left: 20%;
    font-size: .6vw;

}

.thomasdirector{
    margin: 0% 2% 2% 2%;
    float:right;
    position: relative;
    width: 100%;
    height:auto;
    max-width: 40%;
    overflow:hidden;
    
}

.fa{
    padding: 20px;
    font-size: 30px;
    width: 50px;
    text-align: center;
    text-decoration: none;
    margin: 5px 2px;
}

.social-links {
    margin-left: 50%;
}
.fa-instagram {
    
    color: black;
    transition: all 250ms ease-in-out;

}
.fa-instagram:hover {
    transform:scale(1.4);
}

.fa-twitter {
    
    color: black;
    transition: all 250ms ease-in-out;

}

.fa-twitter:hover{
    transform:scale(1.4);
}


@media only screen and (max-width: 600px){

    .logo{
        font-size: 20px;
    }
    
    
    .bio{
        margin: 110px 20px 20px 20px;
        font-size: 4.5vw;
    }
}
@media only screen and (min-width: 601) and (max-width: 1200px){

    .bio{
        margin-top: 15%;
    }
}